[submodule "www/weight"]
	path = www/weight
	url = https://github.com/obb770/weight.git
[submodule "www/qr"]
	path = www/qr
	url = https://github.com/obb770/qr.git
[submodule "www/spider"]
	path = www/spider
	url = https://github.com/obb770/spider.git
[submodule "www/colors"]
	path = www/colors
	url = https://github.com/obb770/colors.git
[submodule "www/pentomino"]
	path = www/pentomino
	url = https://github.com/obb770/pentomino.git
